absl-py
aiofiles
aiohttp
aiohttp-retry
aiosignal
altair
annotated-types
anyio
appdirs
asttokens
async-timeout
asyncclick
asyncio
attrs
av
Babel
backcall
beautifulsoup4
blinker
blobfile
Brotli
cachetools
cairocffi
cattrs
certifi
cffi
charset-normalizer
click
clldutils
cloudpickle
cmake
cn2an
colorama
coloredlogs
colorlog
comm
contourpy
cryptography
cssselect2
csvw
ctranslate2
cycler
Cython
dacite
decorator
defusedxml
Deprecated
distro
dlinfo
docopt
dtw-python
einops
elevenlabs @ git+https://github.com/elevenlabs/elevenlabs-python.git@ecd541cad2a55e27fc8d28006306087f22e7d2fb
encodec
eng_to_ipa
exceptiongroup
executing
fastapi
faster-whisper
ffmpeg
ffmpy
filelock
fire
Flask
flatbuffers
fonttools
frozenlist
fsspec
ftfy
geographiclib
geopy
google-auth
google-auth-oauthlib
gradio
gradio_client
grpcio
gym
gym-notices
h11
h2
h3
h5py
hpack
httpcore
httpx
huggingface-hub
humanfriendly
humanize
hypercorn
hyperframe
idna
imageio
importlib-metadata
importlib-resources
inflect
ipython
ipywidgets
isodate
itsdangerous
jaconv
jedi
jieba
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyterlab-widgets
kiwisolver
langid
language-tags
lazy_loader
lit
llvmlite
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
more-itertools
mpmath
msgpack
multidict
mutagen
networkx
nltk
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
onnxruntime
openai @ git+https://github.com/openai/openai-python.git@e41abf7b7dbc1e744d167f748e55d4dedfc0dca7
openai-whisper
opencv-contrib-python
opencv-python
orjson
packaging
pandas
parso
pexpect
phonemizer
pickleshare
Pillow
platformdirs
playsound
pooch
priority
proces
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
PyAudio
pycairo
pycparser
pycryptodomex
pydantic
pydantic_core
pydub
pyee
Pygments
PyGObject
PyJWT
pykakasi
pylatexenc
pyngrok
pyopenjtalk-prebuilt
pyparsing
pypinyin
python-dateutil
python-ffmpeg
python-kasa @ git+https://github.com/python-kasa/python-kasa.git@063518b7dba8e9f58e915607a64ba506d83e8aed
python-mpd2
python-multipart
python-slugify
pytube
pytz
PyWavelets
PyYAML
rapidfuzz
rdflib
redis
referencing
regex
requests
requests-oauthlib
rfc3986
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
schedule
scikit-image
scikit-learn
scipy
segments
semantic-version
six
sniffio
soundcloud-v2
sounddevice
soundfile
soupsieve
soxr
SpeechRecognition
spotdl
spotipy
stack-data
starlette
SudachiDict-core
SudachiPy
sympy
syncedlyrics
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
text-unidecode
thefuzz
threadpoolctl
tifffile
tiktoken
timezonefinder
tinycss2
tokenizers
tomli
toolz
torch
torchaudio
torchvision
tqdm
traitlets
triton
twilio
typing
typing_extensions
tzdata
tzlocal
Unidecode
uritemplate
urllib3
uvicorn
vocos
Wand
wcwidth
webencodings
websockets
Werkzeug
wget
whisper-timestamped
widgetsnbextension
wikipedia
wrapt
wsproto
yarg
yarl
yt-dlp
ytmusicapi
zipp
